body{
  color: #4f5864;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  line-height: 1.3;
  background-color: rgb(244, 247, 251);
  font-family: MuseoSans, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

*{
  transition: all .15s ease-out !important;
}

ul,
ol,
a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a, a *{
  cursor: pointer !important;
}


.primary_nav {
  background-color: #01b2ee;
  display: flex;
}

.primary_nav>.content {
  background-color: #01b2ee;
  padding: 0 15px;
  margin: 10px 0;
  min-height: 40px;
  height: 40px;
  max-height: 40px;
  display: grid;
  grid-template-columns: auto 100px 311px;
  width: calc(100% - 30px);
}


.primary_nav a, .primary_nav a * {
  display: block;
  font-size: 14px;
  line-height: 40px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0;
}

.primary_nav a{
  display: flex;
  align-items: center;
}

.primary_nav i {
  font-size: 25px;
  width: 25px;
}

.dropdown_btn::after{
  transform: rotate(135deg);
  content: "";
  width: 7px;
  border-top:  solid #000;
  border-right:  solid #000;
  height: 7px;
  margin:  8px;
}

.primary_nav .dropdown_list .overlay {
  background-color: white;
  width: 258px;
  position: absolute;
  padding: 0 !important;
  top: 60px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
}


.primary_nav .dropdown_list .overlay li a {
  line-height: 15px;
  font-size: 15px;
  padding: 14px;
  display: block;
  color: #4f5864;
  border-bottom: 1px solid #eeeef4;
}

.primary_nav *::after {
 border-color: white !important;
}

.primary_nav .dropdown_list .overlay a:hover {
  color: #1acbff;
  background-color: #eeeef4;
}

.secondary_nav .dropdown_list .overlay {
  background-color: white;
  width: 315px;
  position: absolute;
  top: 117px;
  left: 0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
  border: 1px solid #dce3ed;
}


.secondary_nav .dropdown_list .main_over li {
  padding-left: 15px;
}

.secondary_nav .dropdown_list .main_over li:first-child {
  padding-top: 15px !important;
}


.secondary_nav .dropdown_list .main_over li a {
  line-height: 14px;
  font-size: 14px;
  padding: 7px 9px;
  display: flex;
  justify-content: space-between;
  color: #4f5864;
}

.secondary_nav .dropdown_list .main_over li a::after {
  content: "\276E	";
  display: block;

  transform: rotate(180deg);
}

.secondary_nav .dropdown_list .overlay a:hover {
  color: #1acbff;
  padding-right: 4px;
}

.secondary_nav .dropdown_list .sub_over{
  min-width: 380px;
  border-left: 1px solid #dce3ed;
  padding: 22px;
}

.secondary_nav .dropdown_list .sub_over .title{
  font-size: 20px;
  font-weight: 500;
  display: block;
  padding-bottom: 14px;
  color: #24c7fe;
}

.secondary_nav .dropdown_list .sub_over ul a{
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  display: block;
  
}

.secondary_nav .dropdown_list .sub_over ul a span{
  color: #92a2ad;
  text-decoration: none;
  line-height: 1.6;
  font-size: 13px;
  max-width: 250px;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
}

.secondary_nav .dropdown_list .sub_over ul a span:first-child{
  color: #4f5864;
  display: block;
  text-overflow: ellipsis;
  line-height: 1 !important;
  white-space: nowrap;
  font-size: 14px;
}

.secondary_nav .dropdown_list .sub_over ul a:hover span:first-child, .phone_list a:hover{
  color: #01b2ee !important;
}

 .links_bar > ul {
  display: flex;
}

 .links_bar > ul li {
  padding: 0 15px;
  height: 40px;
  max-height: 40px;
  align-items: center;
  display: flex;
  min-height: 40px;
}

 .links_bar i {
  font-size: 25px;
  margin-right: 10px;
}

.primary_nav>.content>.logo ,
  .primary_nav>.content>.logo a{
  justify-self: flex-start; 
  font-weight: bold;
  font-family: 'Fredoka One', cursive;
  font-size: xx-large !important;
}

.primary_nav>.content>* {
  justify-self: flex-end;
}

.secondary_nav {
  display: flex;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgb(75 84 96 / 22%);
}

.secondary_nav>.content {
  padding: 0 15px;
  min-height: 57px;
  justify-content: space-between;
  height: 57px;
  max-height: 57px;
  display: flex;
  width: calc(100% - 30px);
}


.secondary_nav .dropdown_list > a, .secondary_nav .links_bar > ul > li >a{
  font-size: 16px;
  font-weight: 500;
  color: #4f5864;
  line-height: 25px;
  cursor: pointer;
  display: block;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  height: 57px;
  display: inline-flex;
  align-items: center;
  padding-right: 45px;
}

.secondary_nav .dropdown_list > a:hover, .secondary_nav .links_bar > ul > li >a:hover{
 color: #1acbff;
 
}


.secondary_nav .dropdown_btn:hover::after{
  border-color: #1acbff;
}

.container {
  padding: 15px 15px 0 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.ads_row {
  grid-template-columns: calc(25% - 11px) calc(25% - 11px) calc(25% - 11px) calc(25% - 11px);
  display: grid;
  grid-row: 100%;
  column-gap: 15px;
}

.card {
  margin: 5px 0;
  border-radius: 3px;
  cursor: pointer;
}

.card img {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  display: block;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card .image_contianer:hover img{
  opacity: 0.1;
}

.card .image_contianer:hover div{
  display: flex !important;
}

.card .image_contianer{
  background-color: rgba(1,178,238,.9);
  position: relative;
}

.card .image_contianer div{
  font-size: 18px;
  display: none;
  line-height: 1.3;
  position: absolute;
  font-weight: 500;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  top: 0;
  height: calc(100% - 36px);
  padding: 18px !important;
  vertical-align: middle;
  align-items: center;
  overflow: hidden;
}
 
.card .details {
  padding: 18px;
  background-color: white;
  border-top: 1px solid rgb(220, 227, 237);
  border-bottom: 1px solid #ced5df;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.card .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 500;
  color: #4f5864;
  margin: 0;
  line-height: 1.4;
  font-size: 17px;
}

.card .vendor {
  font-size: 15px;
  font-weight: 300;
  color: #01b2ee;
  margin-bottom: 7px;
  line-height: 1.2;
  max-height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: visible;
}

.card .location {
  font-weight: 300;
  color: #92a2ad;
  font-size: 15px;
}

.card .bought {
  font-size: 14px;
  color: #92a2ad;
  width: 30%;
  flex: none;
  display: inline-flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: flex-end;
  justify-content: left;
}

.card .bast_price {
  font-size: 14px;
  text-decoration: line-through;
  color: #727986;
}

.card .price {
  font-size: 35px;
  line-height: 1;
  font-weight: 500;
  color: #1eb3ec;
}

.card .from {
  font-size: 12px;
  color: #1eb3ec;
  font-weight: 500;
  text-align: right;
  line-height: 1.2;
}

.ads_list_header {
  font-size: 32px;
  font-weight: 700;
  vertical-align: middle;
}

.ads_list_header button {
  border-radius: 5px;
  background-color: #01b2ee;
  color: #fff;
  line-height: 35px;
  height: 35px;
  padding: 0 16px !important;
  margin-left: 15px;
  transition: all .15s;
  font-size: 14px;
  font-weight: 300;
  border-width: 0 !important;
  vertical-align: middle;
}

.sid_bar{
  width: calc(25vw - 7.5px);
}


.sid_bar .title {
    font-size: 28px;
    font-weight: 700;
    background-color: #fff;
    border-bottom: 1px solid #dce3ed;
    border-radius: 3px 3px 0 0;
    padding: 15px 20px;
    color: #01b2ee;
}

.sid_bar ul {
  margin-left: 0;
  padding: 0;
  background-color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sid_bar ul li {
  flex: 1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f7f9fb;
  border-top: none;
  
}

.sid_bar ul li a {
  display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    color: #4f5864;
    line-height: 1;
    transition: all .15s ease-out;
    padding: 15px 20px;
}

.sid_bar ul li a:hover {
  color: #01b2ee;
}

.sid_bar ul li span {
  font-size: 15px;
}

.search{
  padding-top: 8.5px;
  padding-bottom: 8.5px;
}

.search input{
  width: 436px;
  padding: 0 15px 0 40px;
  height: 38px;
  box-shadow: 0 0 8px 0 rgb(79 88 100 / 10%);
  border: 1px solid #dce3ed;
  border-radius: 5px;
  background-color: transparent;
}

.search i{
  margin-right: -33px;
  margin-top: 7px;
  vertical-align: middle;
}

.phone_bar{
  display: none;
}

.ad_bord{
  padding: 15px;
}
.ad_bord img{
  width: calc(100%);
}
.over_slide{
  display: none;
}

footer{
  padding: 0 15px;
  background-color: #fff;
  padding-bottom: 60px;
  border-top: 1px solid #eaf1f5;
}

footer .top > div:first-child  i{
  background-color: #4f5864;
  color: white !important;
  border-radius: 50%;
  font-size: 18px;
  padding: 8px !important;
  width: 18px;
  height: 18px;
  text-align: center;
  display: block;
}

footer .links_bar li{
  padding: 0;
  margin-bottom: 20px;
}

footer .top{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer a,footer span{
  display: block;
  font-size: 16px;
}
footer a:hover{
  color: #1acbff;
}
footer .top > div span:first-child{
  font-weight: bold;
  font-size: 14px ;
  margin-bottom: 20px;
  
}

footer .top > div > .btn{
  width:130px;
  height: 20px;
  padding: 16px 40px;
  font-size: 15px;
  line-height: 20px;
  margin-top: 20px !important;
}

footer .top > div{
  max-width: 400px;
  padding-top: 30px;
}
@media screen and (max-width: 1160px) {

  footer .top > div{
    max-width: 400px;
    padding-top: 30px;
  }

  .phone_list .main_over{
    overflow-y: hidden;

  }

  .over_slide{
    display: block;
  }

  .phone_hed{
    display: none;
  }

  .primary_nav > .content{
    grid-template-columns: auto auto ;
  }

  .ads_row {
    grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
  }

  .phone_bar{
    display: block;
  }

  .phone_bar > ul{
    width: 100vw !important;
    justify-content: space-around;
    display: flex;
    background-color: white;
    position: fixed;
    border-top: 1px solid #eaf1f5;
    bottom: 0;
    padding-top: 10px;
  }
  .phone_bar a:hover {
    color: #1acbff;
  }

  .phone_bar a{
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    color: #4f5864;
    text-align: center;
  }
  .phone_bar i{
    margin-bottom: 4px;
    font-size: 22px;
  }

  .over_slide{
    width: 100%;
    height: calc(100% - 52px);
    position: fixed;
    top: 0 ;
    display: none;
    overflow-y: auto;
    background-color: white;
  }

  .phone_list *{
    font-size: 15px;
    display: block;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .phone_list > a:first-child, .phone_list .title{
    font-weight: bold;
    overflow: hidden;
  }
  .phone_list li , .phone_list .title{
    padding: 10px 54px;
    box-shadow: inset 0 1px 0 0 #eaf1f5;
  }
  .phone_list span.title::before{
    content: ">";
    position: absolute;
    left: 16px;
    transform: rotate(315deg);
    content: "";
    width: 7px;
    border-top:1px solid #000;
    border-right:1px solid #000;
    height: 7px;
    margin: 8px;
  }
  .phone_list li span::after{
    content: ">";
    position: absolute;
    right: 16px;
    transform: rotate(135deg);
    content: "";
    width: 7px;
    border-top:1px solid #000;
    border-right:1px solid #000;
    height: 7px;
    margin: 8px;
  }
  #categories{
    padding-top: 50px;
    height: calc(100% - 102px);
  }
  #account .sid_bar{
    width:100%;
  }
  #account {
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
  }
}

@media screen and (max-width: 650px) {
  .ads_row {
    grid-template-columns: 100%;
  }
  
}

input.email-subscription__input {
    height: 46px;
    font-size: 15px;
    color: #4f5864;
    padding: 0 0 0 12px;
    padding-left: 45px;
    box-shadow: 0 0 8px 0 rgb(79 88 100 / 10%);
    border-radius: 5px 0 0 5px;
    border: 1px solid #dce3ed;
    width: 65%;
}

.email-subscription__input-container{
  position: relative;
}
  .email-subscription__input-container {
    margin-top: 20px;
  }
    .btn{
    height: 48px;
    box-shadow: 0 0 8px 0 rgb(1 178 238 / 50%);
    border: none;
    background: #01b2ee;
    border-radius: 0 5px 5px 0;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    line-height: normal;
    display: inline-block;
    color: #fff;
  }
    .email-subscription__input-container i{
  position: absolute;
  left: calc(11px);
  top: 10px;
}